.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  text-align: center;
  padding: 2rem;
}

.inkhub-logo {
  margin: 3rem;
}

.inkhub-logo img {
  width: 180px;
  height: auto;
}

.home-title {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 4px;
  text-align: center;
  margin-top: 1rem;
}

.inkhub-description {
  margin-top: 20px;
  max-width: 400px;
  text-align: center;
}

.inkhub-description p {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .inkhub-description {
    max-width: 500px;
  }
}

@media (min-width: 1024px) {
  .inkhub-description {
    max-width: 700px;
  }
}
